extends layout
block style
    style.
        .txn-row {
            border-bottom: 1px solid#EEE;
        }
        .txn-body {
            margin: 0px;
        }
        .hash-tag {
            max-width: 171px;
            display: inline-block;
            vertical-align: bottom;
        }
block content
    main
        .container
            .d-md-flex.justify-content-between.align-items-center.py-3
                .mb-1.mb-md-0
                    h1.h4.mb-0 Transaction Detail
            .row
                .col-md-12
                    .card
                        .card-body.txn-body
                            if data
                                .row.p-3.txn-row
                                    .col-md-3
                                        span Transaction Hash : 
                                    .col-md-9.txn-value
                                        span= data.hash
                                .row.p-3.txn-row
                                    .col-md-3.col-sm-3
                                        span Status : 
                                    .col-md-9.col-sm-9.txn-value
                                        span(class=data.success ? 'u-label u-label--sm u-label--success rounded' : 'badge-danger')= data.success ? 'Success' : 'Failed'
                                .row.p-3.txn-row
                                    .col-md-3
                                        span Block : 
                                    .col-md-9.txn-value
                                        span= data.blockNumber
                                .row.p-3.txn-row
                                    .col-md-3
                                        span Timestamp : 
                                    .col-md-9.txn-value
                                        span= data.timestamp
                                .row.p-3.txn-row
                                    .col-md-3
                                        span From : 
                                    .col-md-9.txn-value
                                        if data.fromTag
                                            span Contract 
                                        span#fromToCopy(style="display: none")= data.from
                                        span
                                            if (data.fromTag)
                                                a(href="/trx/" + data.from title=data.from)= data.from
                                            else
                                                a(href="/address/" + data.from title=data.from)= data.from
                                        if data.fromTag
                                            i.fa.fa-check-circle.text-success.mx-1.mb-2
                                            span= ' ( ' + data.fromTag + ' )'

                                .row.p-3.txn-row
                                    .col-md-3
                                        span To : 
                                    .col-md-9.txn-value
                                        if data.toTag
                                            span Contract 
                                        span#toToCopy(style="display: none")= data.to
                                        span
                                            if (data.toTag)
                                                a(href="/trx/" + data.toTag title=data.to)= data.to
                                            else
                                                a(href="/address/" + data.to title=data.to)= data.to
                                        if (data.toTag)
                                            i.fa.fa-check-circle.text-success.mx-1.mb-2
                                            span= ' ( ' + data.toTag + ' )'
                                
                                if (data.dataQuest)
                                    include partials/questDetail
                                // CEK TOKEN TRANSFERS
                                if (data.tokenTransfers.length > 0)
                                    .row.p-3.txn-row
                                        .col-md-3
                                            small Token Transfers : 
                                        .col-md-9.txn-value
                                            ul.list-unstyled.mb-0
                                                each value in data.tokenTransfers
                                                    li.media.align-items-baseline.mb-2
                                                        span.row-count.text-secondary.small.mr-1
                                                            i.fa.fa-caret-right
                                                        .media-body
                                                            span
                                                                b From 
                                                            span.hash-tag.text-truncate.mr-1
                                                                a(href="/address/" + value.from title=value.from)= value.from
                                                            span.mr-1
                                                            span
                                                                b To 
                                                            span.hash-tag.text-truncate.mr-1
                                                                a(href="/address/" + value.to title=value.to)= value.to
                                                            span.mr-1
                                                            span
                                                                b For 
                                                            span.mr-1= value.amount 
                                                            span.hash-tag.text-truncate.mr-1
                                                                a(href="/address/" + value.to title=value.symbol)= value.name + ' (' + value.symbol + ')'

                                .row.p-3.txn-row
                                    .col-md-3
                                        small Action Name : 
                                    .col-md-9.txn-value
                                        small= data.actionName
                                .row.p-3.txn-row
                                    .col-md-3
                                        small Action Method : 
                                    .col-md-9.txn-value
                                        small= data.method
                                .row.p-3.txn-row
                                    .col-md-3
                                        small Transaction Fee : 
                                    .col-md-9.txn-value
                                        small= data.fee + ' ONE'
                                .row.p-3.txn-row
                                    .col-md-3
                                        small Gas Usage : 
                                    .col-md-9.txn-value
                                        small= data.gas
                                .row.p-3.txn-row
                                    .col-md-3
                                        small Nonce : 
                                    .col-md-9.txn-value
                                        small= data.nonce
                            else
                                .row
                                    .col-md-12
                                        center
                                            h6 Transaction Not Found in Defi Kingdoms Harmony