extends layout
block style
	style.
		.dropbtn {
			cursor: pointer;
		}

		#myInput {
			margin : 5px;
			box-sizing: border-box;
			background-image: url('searchicon.png');
			background-position: 14px 12px;
			background-repeat: no-repeat;
			font-size: 13px;
			padding: 14px 20px 12px 25px;
			border: none;
			border-bottom: 1px solid #ddd;
		}

		#myInput:focus {outline: 3px solid #ddd;}

		.dropdown {
			position: relative;
		}

		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #f6f6f6;
			min-width: 100%;
			overflow:hidden; 
			overflow-y:scroll;
			border: 1px solid #ddd;
			z-index: 999;
			padding : 5px;
		}

		.dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}

		.dropdown a:hover {background-color: #ddd;}

		.show {display: block;}
block content
	.container.mt-2
		div.row
			div.col-lg-12
				h5.page-title Address 
					span(style = 'white-space : normal; color : #77838f!important; font-size : 20px;') #{address.toLowerCase()}
	div.container
		div.row
			div.col-lg-6
				.card
					.card-header
						.card-title Overview
					.card-body
						div(class = 'row align-items-center')
							div(class = 'col-md-4 mb-1 mb-md-0') Balance:
							div.col-md-8 
								span#jewel-price
						hr
						div(class = 'row align-items-center')
							div(class = 'col-md-4 mb-1 mb-md-0') JEWEL Value:
							div.col-md-8
								span#usd-price
						hr#borderTop(style = 'display : none;')
						div(class = 'row align-items-center' style = 'display : none;')#fieldToken
							div(class = 'col-md-4 mb-1 mb-md-0') Token:
							div.col-md-8 
								div.small(tyle = 'position:relative;top:-1px') 
									div.dropdown
										input#inputToken(class = 'dropbtn form-control form-control-sm' onClick = 'showToken()')
										div(id="myListToken" class="dropdown-content")
											input.form-control.form-control-sm(type="text" placeholder="Search.." id="searchToken" onkeyup="filterToken()")
			div.col-lg-6
				.card
					.card-header
						.card-title More Info
					.card-body
						div(class = 'row align-items-center')
							div(class = 'col-md-4 mb-1 mb-md-0') My Name Tag:
							div.col-md-8 Not Available
						hr
		br
		div.row
			div.col-lg-12
				.card
					.card-body
						div(class = 'page-navs bg-white')
							div.nav-scroller
								div(class = 'nav nav-tabs nav-line nav-color-secondary d-flex align-items-center justify-contents-center w-100')
									a(class="nav-link active show mr-5" data-toggle="tab" href="#tabTrx") Transaction
									a(class="nav-link mr-5" data-toggle="tab" href="#tabHeroes") Heroes
									a(class="nav-link mr-5" data-toggle="tab" href="#tabGarden") Garden

						div(class="tab-content")
							div(id="tabTrx" class="tab-pane out active")
								br
								.row
									.col-md-3.col-xs-3.col-sm-3
										select.form-control#filterTrxn
											option(value = 'all') All In
											option(value = 'market') Market
											option(value = 'quest') Quest
											option(value = 'garden') Garden
								br
								.row
									.col-md-12.col-xs-12.col-sm-12
										.table-responsive
											table.table.table-hover.display#tableLastTxn(width="100%" cellspacing="0")
												thead.thead-light
													tr
														th Txn Hash
														th Method
														th Block
														th Age
														th From
														th To
														th Value
												tbody
								
							div(id="tabHeroes" class="tab-pane fade")
								br
								.row
									.col-md-12.col-xs-12.col-sm-12
										.table-responsive
											table.table.table-hover.display#tableMyHeroes(width="100%" cellspacing="0")
												thead.thead-light
													tr
														th ID
														th Gen
														th Lvl
														th Rarity
														th Class
														th Profession
														th Quest
														th Sum Left
														th Stam
														th XP
														th Stam Full At
												tbody
							div(id="tabGarden" class="tab-pane fade")
								p Comming Soon.
							
block script
	script.
		var tableLastTxn;
		var tableHeroes;
		let address = '#{address}';

		function showToken() {
			document.getElementById("myListToken").classList.toggle("show");
		}

		function filterToken() {
			var input, filter, ul, li, a, i, txtName, txtSymbol;
			input = document.getElementById("searchToken");
			filter = input.value.toUpperCase();
			div = document.getElementById("myListToken");
			li = div.getElementsByTagName("li");
			a = div.getElementsByTagName("a");
			for (i = 0; i < li.length; i++) {
				txtName = $(li[i]).attr('data-name');
				txtSymbol = $(li[i]).attr('data-symbol');

				if ((txtSymbol.toUpperCase().indexOf(filter) > -1) || (txtName.toUpperCase().indexOf(filter) > -1)) {
					$(li[i]).show();
				} else {
					$(li[i]).hide();
				}
			}
		}

		$(function (){
			$('.nameMethod').tooltip();

			$(document).mouseup(function(e) {
				var containerToken = $("#inputToken");
				var containerList = $("#myListToken");

				//- console.log('[CONTAINER TOKEN] 1', containerToken.is(e.target) );
				//- console.log('[CONTAINER TOKEN] 2', containerToken.has(e.target).length)
				//- console.log('[CONTAINER LIST] ', containerList.is(e.target));

				if (!containerToken.is(e.target) && containerToken.has(e.target).length === 0) {
					//- console.log('[HIDE]');
					$('#myListToken').hide();
				} else {
					$('#myListToken').show();
				}
			});

			$.ajax({
				url: `/address/${address}/stats`,
				beforeSend: () => {
				},
				success: (msg) => {
					if (msg.status == 200) {
						let data = msg.data;
						let tokens = data.tokens;
						$("#jewel-price").text(`${data.jewelPrice} JEWEL`);
						$("#usd-price").text(`$ ${data.usdPrice}`);

						let parentList = $('<ul/>',{
							class : 'list list-unstyled mb-0'
						});
						let balanceUsd = 0;
						let jmlToken = 0;
						tokens.forEach(function (t, index){
							if (index == 0) {
								balanceUsd = t.usdPrice;
							} else if (t.balance>0 && index >0) {
								let listChild = $('<li/>', {
									class : 'align-items-center font-size-1 rounded-sm py-1 px-2 mb-1',
									'data-name' : t.name,
									'data-symbol' : t.symbol,
								});
						
								//- DIV LEFT
								let divLeft = $('<div/>');
								let divImg = $('<div/>',{
									class : 'd-flex align-items-center'
								}).append(`
									<img class = 'mr-1 mCS_img_loaded' src = '${t.logoURI}' style = 'width : 15px;'>
									<span class = 'list-name hash-tag text-truncate'>${t.name} (${t.symbol})</span>
								`);
								let spanBalance = $('<span/>',{
									class : 'list-amount link-hover__item hash-tag hash-tag--md text-truncate',
									text : `${t.balance} ${t.symbol}`
								});
								divLeft.append(divImg);
								divLeft.append(spanBalance);

								//- DIV RIGHT
								let divRight = $('<div/>',{
									class : 'text-right'
								}).append(`
									<span class = 'list-usd-value d-block'>$ ${t.usdPrice}</span>
									<span class = 'list-usd-rate link-hover__item'>@${t.jewelPrice}</span>
								`);

								let aLink = $('<a/>',{
									class : 'link-hover d-flex justify-content-between align-items-center',
									style : 'width : 100%;',
									href : `/token/${t.address}?a=${address}`,
									target : '__blank'
								});
								aLink.append(divLeft);
								aLink.append(divRight);

								listChild.append(aLink);
								parentList.append(listChild);
								jmlToken += 1;
							}
						});
						$('input#inputToken').val(`Token (${jmlToken})`);
						$('#myListToken').append(parentList);
						if (jmlToken==0) {
							$('#fieldToken').hide();
							$('#borderTop').hide();
						} else {
							$('#fieldToken').show();
							$('#borderTop').show();
						}

						if (jmlToken >= 4) {
							$('#myListToken').css('height', '350px');
						}
					}
				}
			});

			//- DATATABLE TRANSACTIONS
			tableLastTxn = $('#tableLastTxn').DataTable({
				serverSide: true,
				"pageLength":  50,
				searching : false,
				"autoWidth" : true,
				fixedColumns: true,
				ajax : `/address/${address}/trx/dataTable/all`,
				responsive: true,
				lengthChange: false,
				columns : [
					{
						"data" : "hash",
					},{
						"data" : "method",
					},{
						"data" : "blockNumber",
					},{
						"data" : "age",
					},{
						"data" : "from",
					},{
						"data" : "to",
					},{
						"data" : "value",
					}
				],
				columnDefs : [
					{ width: "10%", targets: 0 },
					{ width: "5%", targets: 1 },
					{ width: "5%", targets: 2 },
					{ width: "5%", targets: 3 },
					{ width: "10%", targets: 4 },
					{ width: "10%", targets: 5 },
					{ width: "3%", targets: 6 }
				],
			});

			$('select#filterTrxn').change(function (e){
				e.preventDefault();
				var value = $(this).val();
				$('#tableLastTxn').DataTable().destroy(); // destroy element table
				tableLastTxn = $('#tableLastTxn').DataTable({
					serverSide: true,
					"pageLength":  50,
					searching : false,
					"autoWidth" : true,
					fixedColumns: true,
					ajax : `/address/${address}/trx/dataTable/${value}`,
					responsive: true,
					lengthChange: false,
					columns : [
						{
							"data" : "hash",
						},{
							"data" : "method",
						},{
							"data" : "blockNumber",
						},{
							"data" : "age",
						},{
							"data" : "from",
						},{
							"data" : "to",
						},{
							"data" : "value",
						}
					],
					columnDefs : [
						{ width: "10%", targets: 0 },
						{ width: "5%", targets: 1 },
						{ width: "5%", targets: 2 },
						{ width: "5%", targets: 3 },
						{ width: "10%", targets: 4 },
						{ width: "10%", targets: 5 },
						{ width: "3%", targets: 6 }
					],
				});
			})

			//- DATATABLE HEROES
			tableHeroes = $('#tableMyHeroes').DataTable({
				serverSide: false,
				"pageLength":  10,
				searching : false,
				"autoWidth" : true,
				fixedColumns: true,
				ajax : `/address/${address}/hero/dataTable`,
				responsive: true,
				lengthChange: false,
				columns : [
					{
						"data" : "id",
					},{
						"data" : "generation",
					},{
						"data" : "level",
					},{
						"data" : "rarity",
					},{
						"data" : "mainClass",
					},{
						"data" : "profession"
					},{
						"data" : "currentQuest"
					},{
						"data": "summonLeft"
					},{
						"data": "stamina"
					},{
						"data": "xp"
					},{
						"data": "staminaFullAt"
					}
				],
			});
		});